.home {
  margin: 10rem;

  .table {
    &__nameHeader {
      font-size: 2.5rem;
      text-transform: uppercase;
      font-weight: bold;
    }

    &__name {
      font-size: 1.8rem;

      &:hover {
        color: rgb(1, 92, 160);
        text-decoration: underline;
      }
    }
  }
}
